.site-header{
    background-color: #1bc9eb;
    color:#e7f5f1;
    height:100vh;
    font-family:monospace;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.site-header-content{
    margin:10px;
}
body{
    margin:0;
    
}

.profile-pic{
    border-radius:50%;
    height:200px;
    width:200px;
    box-shadow:#14414a 2px 3px 5px;
 
}